
.header {
    padding: 24px 0;

    &__logo {
        display: block;
        max-width: 144px;
        flex-shrink: 0;

        @include vp-768 {
            margin-right: auto;
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;

        @include vp-768{
            gap: 20px;

        }
    }

    &__list {
        @include listReset;
        width: 100%;
        min-width: 0;
        display: flex;
        align-items: center;
        gap: 40px;

        @include vp-768{
            gap: 20px;
        }
    }

    &__item {
     min-width: 0;

     &:first-child{
        @include vp-768{
            display: none;
        }
     }

     &:last-child {
        flex: 1;
        min-width: 0;
        max-width: 666px;
     }
    }



    &__link {
        display: inline-block;
        height: 100%;
        border-bottom: 2px solid transparent;
        transition: border 300ms ease-in-out;

        &:hover {
           border-color:  $color-accent;
        }

        &:focus-visible {
            border-color:  $color-accent;
        }
    }

    &__link-icon    {
        display: none;

        @include vp-768 {
            display: block;
        }
    }

    &__link-text    {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: inherit;

        @include vp-768 {
            display: none;
        }
    }

    &__bth {
        background-color: transparent;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: none;
    }

    &__bth-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: inherit;

        @include vp-768{
            display: none;
        }
    }

    &__bth-icon {
        display: none;

        @include vp-768 {
            display: block;
        }
    }

   
}